@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Flight Booking Management System</h1>
    <p class="lead">Ukraine International Airlines (UIA) is a company that provide flight booking system for the manager.</p>
    <p class="lead">TP033184 Flight Booking Management System provides several flight booking functionalites for the manager to create Customer Profile and manage the flight booking process in a efficiency way.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

